.button {
    display: inline-flex;
    width: 25%;
    flex: 1 0 auto;
}

.button.wide {
    width: 25%;
}

.button button {
    background-color: #E0E0E0;
    border: 0;
    font-size: 12px;
    margin: 10px 10px 10px 10px;
    flex: 1 0 auto;
    padding: 0;
    display: block;
    border-radius: 50px;
    /* height: 50px; */
}

.button:last-child button {
    margin-right: 10px;
}

.button.orange button {
    background-color: rgba(246, 153, 2, 0.993);
    color: white;
}

@media (min-width: 200px) and (min-height: 200px) {
    .button button {
        font-size: 25px;
    }
}

@media (min-width: 300px) and (min-height: 300px) {
    .button button {
        font-size: 30px;
    }
}

@media (min-width: 400px) and (min-height: 400px) {
    .button button {
        font-size: 35px;
    }
}

@media (min-width: 500px) and (min-height: 500px) {
    .button button {
        font-size: 40px;
    }
}

@media (min-width: 600px) and (min-height: 600px) {
    .button button {
        font-size: 60px;
    }
}

@media (min-width: 800px) and (min-height: 800px) {
    .button button {
        font-size: 70px;
    }
}
